<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Awesome To-Do's</title>
    <style>
        body {
            font-family: 'Courier New', monospace;
        }
    </style>
</head>
<body>
    <h2>List of all Awesome To-Do's</h2>

    <p th:each="toDo: ${toDosList}">
        <a th:href="'/todo/delete/' + ${toDo.id}" th:text="Delete">Delete Here</a>
        <a th:href="'/todo/mark-completed/' + ${toDo.id}" th:text="'Complete It'">Mark As Completed Here</a>
        <!-- <span th:text="${toDo.id} + ' - '">ID Here</span> -->
        <span th:text="${toDo.description} + ' - '">Description Here</span>
        <span th:text="'Created At: ' + ${toDo.createdAt} + ' - '">Create At Here</span>
        <span th:text="'Completed At: ' + ${toDo.completedAt}">Completed At Here</span>
    </p>

    <form method="post" action="/todo/new-todo">
        <input type="text" name="description" placeholder="Start typing..." />
        <input type="submit" value="Add" />
    </form>
</body>
</html>